MCP_TOKEN=

EXCHANGEHELPER_GRAPH_BASE_URL=https://graph.microsoft.com/v1.0
EXCHANGEHELPER_GRAPH_TENANT_ID=
EXCHANGEHELPER_GRAPH_CLIENT_ID=
EXCHANGEHELPER_GRAPH_CLIENT_SECRET=
EXCHANGEHELPER_GRAPH_REFRESH_TOKEN=
EXCHANGEHELPER_GRAPH_ACCESS_TOKEN=
EXCHANGEHELPER_GRAPH_USER_ID=me
